<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100&display=swap" rel="stylesheet">
        <title>About</title>
        <link rel="icon" href="weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
             {{>header}}
        <div class="image">
            <img id="bonfire" src="bonfire.jpg">
        </div>
        </div>
       
        {{>footer}}
    </body>

</html>
